@charset "UTF-8";


#menubar > ul {
    list-style: none;
    padding-left: 0px;
}

#menubar >ul>li {
    display: inline;
    margin: 0 16px 0 0;
    padding: 4px;
    border: 1px solid #666666;
    border-radius: 8px;
    background: linear-gradient(#FFFFFF, #888888);
}


.text-center{
    text-align: center;
}

.blue{
    color: steelblue;
}



.darkblue{
    color:cadetblue;
}

h1{
    /*テキストの行揃えを変更するプロパティ*/
    text-align: center;
    
    /*背景色を変更するプロパティ*/
    background-color: cadetblue;
}

h4{
    text-align: center;
    /*背景色を変更するプロパティ*/
    color: coral
}
